<div class="sb-offer box-padding-vertical">

    <div class="sb-offer__image">
        <img ng-src="{{ offer.image }}" alt=""/>
    </div>
    <div class="sb-offer__info">
        <div class="sb-offer__title">
            <h2>{{ offer.title }}</h2>
        </div>
        <div class="box-margin-top sb-offer__info-rateplan">
            <span class="magenta small">Abonnement&nbsp;{{ offer.rateplan.duration | number:0 }}&nbsp;mnd</span>
        </div>
        <div ng-if="offer.data.abodat"
             class="sb-offer__half box-margin-top">

            <p>
                <span class="bold large" ng-bind="offer.data.abodat"></span> <span
                    class="bold small">Internet</span>
                <span ng-if="offer.rateplan.showTShirtSize && offer.data.tshirtSize && offer.data.isUnlimited === 'no'">
                    (<span ng-bind-html="offer.data.tshirtSize" ng-class="{'infinity-symbol': isInfiniteSymbol(offer.data.tshirtSize)}"></span>)
                </span>
            </p>

            <p><span class="tiny grey" ng-bind="offer.data.abodatdown"></span></p>


        </div>
        <div ng-if="offer.minutes.abobmin"
             class="sb-offer__half box-margin-top">

            <p>
                <span class="bold large" ng-bind="offer.minutes.abobmin"></span>
                <span class="bold large suffix" ng-bind="offer.minutes.suffix"></span>
            </p>

            <p><span class="tiny grey" ng-bind="offer.minutes.abobun"></span></p>

        </div>

        <div class="sb-offer__list box-margin-top">
            <ul>
                <li ng-if="offer.insurance.description">
                <span class='tiny grey'
                      ng-bind="offer.insurance.description"></span>
                </li>
                <li ng-repeat="addon in offer.addons">
                    <span class='tiny grey'
                          ng-bind="addon.name"></span>

                </li>
            </ul>
        </div>
        <div class="sb-offer__price box-margin-top">
            <p ng-if="offer.totalPrice">
                <span class="green">&euro;&nbsp;{{offer.totalPrice}}</span>
                <span class="green">/mnd</span>
            </p>

            <p class="small"
               ng-if="offer.handsetTotal">
                <span class="bold" >Bijbetaling&nbsp;&euro;&nbsp;</span>
                <span class="bold" ng-bind="offer.handsetTotal"></span>

            </p>
        </div>

    </div>
    <div class="sb-offer__commands box-margin-top">

        <button class="sb-offer__commands--order btn btn-magenta" ng-click="orderOffer(offer)">
            <span custom-text="MCSGOURL.166">Bestellen</span>
        </button>
        <button class="sb-offer__commands--edit btn btn-inverse-blue" ng-click="changeOffer(offer)">
            <span custom-text="MCSGOURL.165">Wijzig</span>
        </button>
        <!--<button class="sb-offer__command--delete btn"
                ng-click="deleteOffer(offer)">
            X
        </button>-->


    </div>

</div>
<hr/>