<div class="sb-offer sb-offer-error box-padding-vertical"
     ng-if="offer.error"
     ng-switch="offer.error.id">

    <h2 ng-switch-when="1">
        {{ offer.error.internalMessage }}
    </h2>


</div>

<div class="sb-offer box-padding-vertical"
     ng-if="!offer.error">


    <div class="sb-offer__image">
        <img ng-src="{{ offer.image }}" alt=""
             ng-click="changeOffer(offer)"/>
    </div>
    <div class="sb-offer__info"
         ng-click="changeOffer(offer)">
        <h2>{{ offer.title }}</h2>

        <div class="box-margin-top sb-offer__info-rateplan">
            <span class="magenta small">Abonnement&nbsp;{{ offer.rateplan.duration | number:0 }}&nbsp;mnd</span>
        </div>

        <div ng-if="offer.data.abodat"
             class="sb-offer__half box-margin-top">

            <p>
                <span class="bold large" ng-bind="offer.data.abodat"></span> <span
                    class="bold small">Internet</span>
                    <span ng-if="offer.rateplan.drlh_show_size && offer.data.drlh_size && !offer.data.art_isunlimited">
                        (<span ng-bind-html="offer.data.drlh_size" ng-class="{'infinity-symbol': isInfiniteSymbol(offer.data.drlh_size)}"></span>)
                    </span>

            </p>

            <p>
                <span class="tiny grey" ng-bind="offer.data.abodatdown"></span>
            </p>


        </div>
        <div ng-if="offer.minutes.abobun"
             class="sb-offer__half box-margin-top">

            <p>
                <span class="bold large" ng-bind="offer.minutes.abobmin"></span>
                <span class="bold small"
                      ng-if="offer.minutes.abobmin !== 'Onbeperkt'">Minuten</span>
            </p>

            <p><span class="tiny grey" ng-bind="offer.minutes.abobun"></span></p>

        </div>

        <div class="sb-offer__list box-margin-top">
            <ul>
                <li ng-if="offer.insurance[0].products[0]">
                <span class='tiny grey'
                      ng-bind="offer.insurance[0].products[0].description"></span>
                </li>
                <li ng-if="offer.insurance.description">
                <span class='tiny grey'
                      ng-bind="offer.insurance.description"
                      ng-class="{strike: !offer.insurance.available}"></span>
                </li>
                <li ng-repeat="addon in offer.receipt.ratePlan.addOns"
                    ng-if="offer.receipt.ratePlan.addOns">
                    <span class='tiny grey'
                          ng-bind="addon.name"></span>

                </li>
                <li ng-repeat="addon in offer.addOns"
                    ng-if="offer.addOns">
                    <span class='tiny grey'
                          ng-bind="addon.name"
                          ng-class="{strike: !addon.available}"></span>

                </li>
            </ul>
        </div>
        <div class="sb-offer__price box-margin-top">
            <p ng-if="offer.receipt.finalPricing.monthlyTotal">
            <span class="magenta"
                  ng-bind="offer.receipt.finalPricing.monthlyTotal + offer.insurance[0].products[0].monthlyFee + offer.insurance.monthlyFee | euroCurrency"></span>
                <span class="small magenta" custom-label="RAPRD_MPRICE">/mnd</span>
            </p>


            <p class="small"
               ng-if="offer.receipt.finalPricing.oneoffHandsetTotal">
                <span>Bijbetaling&nbsp;</span>
                <span ng-bind="offer.receipt.finalPricing.oneoffHandsetTotal | euroCurrency"></span>

            </p>
        </div>

    </div>
    <div class="sb-offer__commands box-margin-top">
        <!--<button class="sb-offer__command--delete btn"
                ng-click="deleteOffer(offer)">
            X
        </button>-->
        <button class="sb-offer__commands--edit btn btn-inverse-blue" ng-click="changeOffer(offer)">
            <span custom-text="MCSGOURL.165">Wijzig</span>
        </button>
        <button class="sb-offer__commands--order btn btn-magenta" ng-click="orderOffer(offer)">
            <span custom-text="MCSGOURL.166">Bestellen</span>
        </button>

    </div>


</div>
<hr/>